@import'../common/variables';

.layout{
  display: flex;
  height: 100vh;
}
.content{
  display: flex;
  height: 100vh;
  flex: 1;
  &_box{
    width: 100%;
    > img {
      height: 100%;
      object-fit: cover;
    }
    &_left{
      position: relative;
      
      background: #DAEE5F;
      flex: 1;
    }
    &_right{
      padding: 3.91vw 2.47vw;
      width: 26.04vw;
      background: #3E4B57;
    }
  }
}