@import'../common/variables';

//정리중
:root {
  --lime:#DAEE5F
}

// 버튼의 기본크기는 large를 기준으로 합니다.
.btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 50px;
  border: 0;
  background-color: var(--c11);
  padding: 10px 20px;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--cff);
  box-sizing: border-box;
  &:hover{
    background-color: var(--lime);
    color: var(--c11);
  }
  &:active{
    background-color: var(--lime);
  }
  &:disabled{
    cursor: default;
    background-color: var(--cff); 
    color: var(--c99);  
    border:  1px solid var(--cdd);
  }
  i{
    margin-right: 10px;
    &.right{
      margin-left: 10px;
      margin-right: 0;
    }
  }
}



.full{
  width: 100%; 
  border: 0; 
}

.xlarge{ 
  min-width: 335px;
  &.round{
    @include rounded(4px)
  }
}

.medium{
  min-width: 163px;
}

.small{
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 79px;
  min-height: 40px;
  font-size: 1.6rem;
  padding: 10px;
  i{
    display: block;
    margin-bottom: 3px;
    margin-right: 0;
  }
  span{
    display: block;
  }
  &.round{
    @include rounded(4px)
  }
}

.xsmall{
  min-width: 48px;
  min-height: 26px;
  padding: 6px 12px; 
  font-size: 1.4rem;
}



.round{
  @include rounded(6px)
}

.color{ 
  &-gray{
    background-color: var(--cee);
    color: var(--c77);
    &:active{
      background-color: var(--c11); 
      color: var(--cff); 
    }
  }
  
  &-lime{ 
    background-color: var(--lime); 
    color: var(--c11);
    &:active{
      background-color: var(--c11); 
      color: var(--cff); 
    }
  } 

  &-change{  
    background-color: var(--cff); 
    color: var(--c55);  
    border-color: var(--cef);
  }
}  

.line{
  background-color: var(--cff);
  border: 1px solid var(--c11);
  color: var(--c11);
  &:hover{
    background-color: var(--c11);
    color: var(--cff);
  }
  &:active{
    background-color: var(--c11);
    color: var(--cff);
  }
  &:disabled{
    cursor: default;
    border-color: var(--ce7);
    background-color: var(--cff);
    color: var(--c99);
  }
}

//해당 스테이트는 레드를 기준으로 합니다.
.state{
  background-color: var(--c99);
  @include body2(var(--cff));
  &:hover{
    background-color: var(--red);
  }
  &:active{
    background-color: var(--red-active);
  }
  &:disabled{
    cursor: default;
    background-color: var(--bgf5);
    color: var(--ce7);
  }
  &.line{
    background-color: var(--cff);
    border: 1px solid var(--c99);
    color: var(--c99);
    &:hover{
      background-color: var(--cff);
      border: 1px solid var(--red);
      color: var(--red);
    }
    &:active{
      background-color: var(--cff);
      border: 1px solid var(--red-active);
      color: var(--red-active);
    }
    &:disabled{
      cursor: default;
      background-color: var(--cff);
      color: var(--c99); 
      border-color: var(--ce7);
    } 
  } 
} 
 
.none{
  min-width: auto;
  min-height: auto;
  background-color: transparent;
  border: 0;
  color: var(--primary);
  text-decoration: underline;
  &:hover{
    background-color: transparent;
    border: 0;
    color: var(--point-hover);
  }
  &:active{
    background-color: transparent;
    border: 0;
    color: var(--point);
  }
  &:disabled{
    cursor: default;
    background-color: transparent;
    border: 0;
    color: var(--c99);
  }
  &.state{
    color: var(--c99);
    &:hover{
      color: var(--red);
    }
    &:active{
      color: var(--red-active);
    }
    &:disabled{
      cursor: default;
      background-color: transparent;
      color: var(--ce7);
    }
  }
}
.badge {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 12px;
  padding: 4px;
  border-radius: 10px;
  background-color: #F95729;
  font-size: 10px;
  font-weight: 500;
  color: var(--cff);
}
.icon_m{
  min-width: 50px;
  min-height: 50px;
  padding: 10px;
  i{
    margin: 0;
  //   svg{
  //     width: 20px;
  //     height: 20px;
  //   }
  }
  &.round{
    @include rounded(8px)
  }
}
.icon_s{
  min-width: 30px;
  min-height: 30px;
  padding: 7px;
  i{
    margin: 0;
    // svg{
    //   width: 16px;
    //   height: 16px;
    // }
  }
  &.round{
    @include rounded(8px)
  }
  .badge{
    width: 10px;
    height: 10px;
    padding: 0;
    font-size: 0;
  }
}