@import'../common/variables';

.checkboxlabel {
  display: flex;
  align-items: center;
  position: relative;
}

.checkboxcustom{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 1px solid var(--primary-b);
  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border: 1.5px solid var(--cff);
    transform: rotate(-45deg);
    margin-top: -3px;
    border-top: 0;
    border-right: 0;
    opacity: 0;
    transition: opacity 0.1s;
  }
  & + .text{
    margin-right: 0;
    margin-left: 5px;
  }
}

.checkboxinput {
  visibility: hidden;
  width: 0;
  left: 0;
  &:checked + .checkboxcustom{
    background-color: var(--primary-b);
    border: 1px solid var(--primary-b);
    &:after{
      opacity: 1;
    }
    &:disabled{
      border: 1px solid var(--ce7);
      background-color: var(--bgf5);
    }
  }
  &:disabled + .checkboxcustom{
    cursor: default;
    border: 1px solid var(--ce7);
    background-color: var(--bgf5);
    &:after{
      border-color: var(--cbb);
    }
  }
}

.text{
  margin-right: 5px;
  @include body2();
}

