@import "../common/variables";

.alert{
  &_wrap{
    max-width: 380px;
    margin: 0;
    border-radius: 8px;
  }
  &.minwidth{
    .alert_wrap{
      min-width: 350px;
      max-width: 100%;
    }
    .alert_box{
      min-height: 210px;
      padding: 30px;
    }
  }
  &_box{
    min-height: 202px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  &_content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &_title{
    margin-bottom: 14px;
    @include h3(var(--c11));
    text-align: center;
    line-height: 2.5rem;
  }
  &_desc{
    @include body1(var(--c55));
    text-align: center;
  }
  &_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
  }
}

.admin{
  .alert{
    &_wrap{
      min-width: 400px;
      border-radius: 8px;
    }
    &_box{
      min-height: 238px;
      padding: 30px;
    }
    &_content{
      align-items: center;
    }
    &_title{
      margin-top: 34px;
    }
    &_desc{
      line-height: 2rem;
    }
    &_btn{
      margin-top: 20px;
    }
  }
}