@import "../common/variables";

.pagenation{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  button{
    font-family: 'Pretendard';
    font-size: 1.4em;

    &[aria-current="true"]{
      font-weight: 700;
      background-color: var(--point);
      &:hover{
        background-color: var(--point);
      }
    }
    svg{
      width: 24px;
      height: 24px;
    }
  }
}