@import "../common/variables";

.tablebox {
  table {
    width: 100%;
    border-top: 1px solid var(--ce7);
    table-layout: fixed;    
    th {
      padding: 5px 10px;
      background-color: var(--bgf5);
      border-bottom: 1px solid #D9D9D9;
      @include h5(var(--c33));
      text-align: left;
      height: 45px;
      &.center{
        text-align: center;
      }
      &.right{
        text-align: right;
      }
    }
    td {
      padding: 5px 10px;
      height: 45px;
      @include body3(var(--c33));
      font-size: 1.4rem;
      border-bottom: 1px solid #D9D9D9;
      &.center{
        text-align: center;
      }
      &.right{
        text-align: right;
      }
    }
  } 
  &.search{
    table{
      table-layout: fixed;   
      th,
      td{
        padding: 10px;
      }
    }
  }
}
