@import'../common/variables';

.textareabox{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-width: 260px;
  border: 1px solid var(--ce7);
  padding: 10px;
  box-sizing: border-box;
  &:hover{
    border-color: var(--primary);
    }
  &.disabled{
    background-color: var(--bgf5);
    color: var(--cbb);
    &:hover {
        border-color: var(--ce7);
    }
  }
  .delete{
    display: none;
    &.block{
        display: block;
    }
  }
  &:focus {
    // outline: none;
    border-color: var(--primary);
  }
  &.error{
    border-color: var(--red);
  }
}
.round{
  @include rounded(4px);
}
// textarea 기본 스타일은 normal을 기준으로 합니다.
.textarea{
  width: 100%;
  min-width: 260px;
  border: 0;
  outline: 0;
  @include body2(var(--primary));    
  // appearance: none;
  overflow-y: hidden;
  resize: none;
  &::placeholder{
    color: var(--c99);
  }
  &:focus{
      &::placeholder{
          color: transparent;
      }
  }
  &:disabled{
      cursor: default;        
      color: var(--cbb);        
  }
  // padding: 10px;
  // color: var(--primary);
  // overflow-y: hidden;
  // resize: none;

  // border: 1px solid var(--ce7);
  // width: 100%;
  // min-width: 260px;
  // height: 100px;

  // &:hover{
  //   border: 0;
  // }
  // &:active{
  //   border: 0;
  // }
  // &:focus {
  //   outline: none;
  //   border: 0;
  // }
    // &:hover{
    // border-color: var(--primary);
    // }
    // &:active{
    //   border-color: var(--primary);
    // }
    // &:disabled{
    //   background-color: var(--bgf5);
    //   color: var(--cbb);
    // }
    // &:focus {
    //   outline: none;
    //   border-color: var(--primary);
    // }
    // &.error{
    //   border-color: var(--red);
    // }
    // .error{
    //   border-color: var(--red);
    // }
}
