@import'../common/variables';

.texttoggle {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 0;
  row-gap: 15px;

  button {
    position: relative;
    width: 50%;
    height: 40px;
    border: 1px solid #E7E7E7;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--c99);
    &+button {
      margin-left: -1px;
    }
    &.active {
      border-color: #0F0E12;
      font-weight: 700;
      color: #0F0E12;
      z-index: 1;
    }    
  }
  .optiontext {
    position: absolute;
    left: 0;
    bottom: -17px;
    @include body2($color: #3B82F6);
  }
}
