@import'../common/variables';

.texttoggle {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 0;
  row-gap: 15px;

  .btn {
    position: relative;
    width: 50%;
     & + .btn {
      margin-left: -1px;
    }
    &.active {
      z-index: 1;
    }    
  }

  button {
    width: 100%;
    height: 40px;
    border: 1px solid #E7E7E7;
    @include h5(var(--c99));
    font-weight: 400;
    &.active {
      border-color: var(----primary);
      font-weight: 700;
      color: var(--c11);
    }    
  }
  .optiontext {
    position: absolute;
    left: 0;
    bottom: -17px;
    @include body2($color: var(--c11));
  }
}

.poingbg{
  flex-wrap: nowrap;
  row-gap: 0;  
  .btn {
    &+.btn {
      margin-left: 0;
    }
    &:first-of-type {
      border-left: 1px solid var(--cdd);
    }
    &:last-of-type {
      border-right: 1px solid var(--cdd);
    }
  }
  button {
    height: 50px;
    border: 0;
    border-top: 1px solid var(--cdd);
    border-bottom: 1px solid var(--cdd);
    
    &.active {
      border-color: var(--point);
      background-color: var(--point);
      font-weight: 700;
      color: var(--c11);
    }
  }
}