//APP에만 별도로 사용되는 scss 구성 

.hamburger{
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  span{
    width: 18px;
    height: 2px;
    background-color: var(--c00);
    font-size: 0;
    position: relative;
    &::before{
      @include before_after;
      width: 18px;
      height: 2px;
      background-color: var(--c00);
      position: absolute;
      top: -8px;
    }
    &::after{
      @include before_after;
      width: 18px;
      height: 2px;
      background-color: var(--c00);
      position: absolute;
      top: 8px;
    }
  }
}