//APP에만 별도로 사용되는 scss 구성 

.hamburger{
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  span{
    width: 18px;
    height: 2px;
    background-color: var(--c00);
    font-size: 0;
    position: relative;
    &::before{
      @include before_after;
      width: 18px;
      height: 2px;
      background-color: var(--c00);
      position: absolute;
      top: -8px;
    }
    &::after{
      @include before_after;
      width: 18px;
      height: 2px;
      background-color: var(--c00);
      position: absolute;
      top: 8px;
    }
  }
}

.login{
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  &_visual{
    width: 100%;
    align-items: flex-end;
    .lft{
      min-width: 213px;
      padding: 0 20px;
    }
    .rgt{
      max-width: 148px;
    }
    p{
      span{
        display: block;
        @include h0;
        font-weight: 400;
        line-height: 3.9rem;
        letter-spacing: -1%;
        &.headline4{
          @include h2;
          line-height: 2.5rem;
          letter-spacing: -1%;
          font-weight: 300;
          color: var(--c77);
        }
        strong{
          font-weight: 700;
        }
      }
    }
  }
  &_content{
    width: 100%;
  }
  &_box{
    &_input{
      background-color: var(--point);
      padding: 0 10px;
      > div{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 16px 10px;
        & + div{
          border-top: 1px solid rgba(0,0,0,0.1);
        }
      }
      label{
        @include body2;
        font-weight: 700;
        width: 50px;
        border-right: 1px solid rgba(0,0,0,0.1);
      }
      .login_input{
        flex: 1;
        padding: 0;
      }
    }
  }
}

.main{
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  &_visual{
    padding: 15px 0;
    .lft{
      padding: 0 20px;
    }
    .rgt{
      width: 148px;
    }
    p{
      span{
        display: block;
        @include h2;
        font-weight: 400;
        line-height: 2.5rem;
        letter-spacing: -1%;
        &.headline4{
          font-weight: 300;
          color: var(--c77);
        }
        strong{
          font-weight: 700;
        }
      }
    }
  }
  &_content{
    width: 100%;
  }
  &_locations{
    width: 100%;
    height: 110px;
    background-color: var(--point);
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
    z-index: 20;
    > button{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      i{
        transition: all 0.3s;
        &.open{
          transform: rotate(-180deg);
          transition: all 0.3s;
        }
      }
    }
    p{
      text-align: left;
      span{
        display: block;
        em{
          display: inline-flex;
          align-items: center;
          height: 20px;
          padding: 0 5px;
          @include body4(var(--cff));
          margin-right: 10px;
          background-color: #6D772F;
          &.red_bg{
            background-color: var(--red);
          }
        }
      }
    }
    &_list{
      position: absolute;
      top: 110px;
      width: 100%;
      max-height: 0;
      background-color: var(--point);
      padding: 0 20px;
      z-index: 10;
      overflow-y: hidden;
      transition: all .3s ease-in-out;
      &.open{
        max-height: 100vh;
        transition: all .3s ease-in-out;
        overflow-y: auto;
      }
      ul{
        li{
          border-top: 1px solid rgba(0,0,0,0.1);
          > button{
            width: 100%;
            display: flex;
            padding: 15px 0;
            i{
              margin-right: 5px;
            }
            p{
              flex: 1;
            }
          }
        }
      }
      
    }
  }
  &_tab{
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 110px;
    align-self: flex-start;
    z-index: 1;
    background-color: var(--cff);
  }
}

.coffeemenu{
  width: 100%;
  padding: 0 0 20px;
  &_tab{
    position: -webkit-sticky;
    position: sticky;
    top: 180px;
    align-self: flex-start;
    z-index: 10;
    background-color: var(--cff);
  }
}