.select {
  &.round{
    .select__control{
      @include rounded(4px);
    }
    .select__menu{
      @include rounded(4px);
    }
  }
  &.allround{
    .select__control{
      @include rounded(16px);
    }
    .select__menu{
      @include rounded(16px);
    }
  }
  &__dropdown-indicator{
     &:after{
        @include before_after;
        width: 9px;
        height: 9px;
        border: 1.5px solid var(--cbb);
        transform: rotate(-45deg);
        border-top: 0;
        border-right: 0;
        margin-top: -5px;
        transition: all 0.2s;
      }
    svg{
      display: none;
    }
    
  }
  &__clear-indicator{
    width: 14px;
    height: 14px;
    position: relative;
    margin: 0 12px;
    @include rounded(7px);
    background-color: var(--cdd);
    cursor: pointer;
    &:after{
      @include before_after;
      width: 7px;
      height: 1.5px;
      background-color: var(--cff);
      transform: rotate(45deg);
      position: absolute;
      @include m_auto;
    }
      &::before{
      @include before_after;
      width: 7px;
      height: 1.5px;
      background-color: var(--cff);
      transform: rotate(-45deg);
      position: absolute;
      @include m_auto;
    }
    svg{
      display: none;
    }
  }
  &__control{
    @include rounded(0);
    border: 1px solid var(--ce7);
    padding: 0 10px;
    min-height: 35px !important;
    &--menu-is-open{
      .select__dropdown-indicator{
        &:after{
          border-color: var(--primary-b);
          transform: rotate(-225deg);
          margin-top: 5px;
        }
      }
    }
    &--is-focused{
      border-color: var(--primary-b);
    }
    &:hover{
      border-color: var(--primary-b);
      .select__dropdown-indicator{
        &:after{
          border-color: var(--primary-b);
        }
      }
      .select__clear-indicator{
        background-color: var(--c99);
        &:hover{
          background-color: var(--primary-b);
        }
      }
    }
    &--is-disabled{
      background-color: var(--bgf5);
      border-color: var(--ce7);
      .select__placeholder{
        color: var(--cbb);
      }
      .select__indicator{
        &:after{
          border-color: var(--cbb);
        }
      }
      .select__single-value{
        color: var(--c99);
      }
    }
  }
  &__placeholder{
    @include body2(var(--c99));
    @include clamp(1)
  }
  &__menu{
    border: 1px solid var(--primary-b);
    @include shadow(0, 4px, 4px, rgba(0,0,0,0.25));
    margin-top: -1px;
    &-list{
      padding: 15px;
      max-height: 180px !important;
    }
  }
  &__option{
    @include body2();
    &--is-selected{
      font-weight: 700;
      color: var(--point);
    }
    &:hover{
      font-weight: 700;
    }
    & + .select__option{
      margin-top: 13px;
    }
  }
  &__multi-value{
    display: flex;
    align-items: center;
    height: 25px;
    border: 1px solid var(--primary-b);
    border-radius: 13px;
    padding: 0 15px;
    background-color: var(--bgfa);
    @include body4(var(--primary-b));
    font-weight: 500;
    & + .select__multi-value{
      margin-left: 10px;
    }
    &__remove{
      width: 12px;
      height: 12px;
      position: relative;
      margin-left: 12px;
      cursor: pointer;
      svg{
        display: none;
      }
      &:after{
        @include before_after;
        width: 10px;
        height: 1.5px;
        background-color: var(--primary-b);
        transform: rotate(45deg);
        position: absolute;
        @include m_auto;
        border-radius: 1px;
      }
       &::before{
        @include before_after;
        width: 10px;
        height: 1.5px;
        background-color: var(--primary-b);
        transform: rotate(-45deg);
        position: absolute;
        @include m_auto;
        border-radius: 1px;
      }
    }
  }
}