@import './common/palette';
@import './common/variables';

.did_preparing{
  display: flex;
  flex-direction: column;
  padding: 12.04vh 2.47vw 6.85vh;
  height: 100vh;
  h2{
    margin-bottom: 5vh;
    color: var(--cff);
    font-size: 4.63vh;
    letter-spacing: -0.05vw;
    text-align: center;
  }
  ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.17vh;
    li{
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--cff);
      font-size: 6.48vh;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: -0.05vw;
    }
  }
}

.did_done{
  padding: 7.96vh 2.34vw 11.11vh;
  h2{
    padding-bottom: 2.31vh;
    color: var(--c00);
    font-size: 8.33vh;
    font-weight: 700;
    text-align: center;
  }
  p{
    color: var(--c00);
    font-size: 4.63vh;
    text-align: center;
  }
  &_list{
    padding-top: 7.31vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.04vw;
    row-gap: 1.85vh;
    li{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 28.7vh;
      border-radius: 2.31vh;
      background-color: var(--cff);
      span{
        position: absolute;
        left: 1.17vw;
        top: 1.85vh;
        color: var(--c55);
        font-size: 4.17vh;
        font-weight: 700;
        letter-spacing: -0.05vw;
      }
      p{
        color: var(--blue);
        font-size: 10.65vh;
        font-weight: 700;
        letter-spacing: -0.05vw;
      }
      svg{
        path{
          fill: #656F79;
        }
      }
    }
  }
}

.did_done_popup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #DAEE5F;
  &_tit{
    display: flex;
    align-items: center;
    gap: 0.16vw;
    justify-content: center;
    padding-bottom: 4.17vh;
    h2{
      color: var(--c00);
      font-size: 10.19vh;
      font-weight: 700;
    }
    svg{
      width: 11.57vh;
      height: 11.57vh;
    }
  }
  &_num{
    padding-bottom: 4.17vw;
    font-size: 27.78vh;
    font-weight: 700;
  }
  &_desc{
    p{
      color: var(--c00);
      font-size: 8.33vh;
      font-weight: 700;
      text-align: center;
      & + p{
        padding-top: 3.7vh;
        font-size: 7.41vh;
        font-weight: 400;
        .blue{
          font-weight: 700;
        }
      }
    }
  }
}