@import './common/palette';
@import './common/variables';

#root{
  height: 100%;
}

@import './global/_scrollbar';

// app에만 사용되는 글로벌 css
@import './global/_appglobal';
@import './global/_appglobal2';
@import './global/_appglobal3';

// 글로벌 scss import
@import './global/_align'; //정렬
@import './global/_color'; //배경 글자 등등 모든 색
@import './global/_spacing'; // margin, padding
@import './global/_typography'; //타이포

// 글로벌 컨포넌트 import
@import './global/_select';


// 임시 블릿
.bullet_list{
  li{
    padding-left: 10px;
    position: relative;
    line-height: 2rem;
    & + li{
      margin-top: 10px;
    }
    &::after{
      @include before_after;
      width: 3px;
      height: 3px;
      border-radius: 1.5px;
      background-color: var(--cff);
      position: absolute;
      top: 10px;
      margin-top: -2px;
      left: 0;
    }
  }
}

//임시 테이블 글로벌 스타일 

// 기본 align :: left
// table {
//   th,
//   td {
//     text-align: left;

//     // 왼쪽 정렬
//     &.tl {
//       text-align: left;
//     }

//     // 오른쪽 정렬
//     &.tr {
//       text-align: right;
//     }

//     // 가운데 정렬
//     &.tc {
//       text-align: center;
//     }
//     // 위로 정렬
//     &.vt {
//       vertical-align: top;
//       padding-top: 18px !important;
//     }
//     // 아래로 정렬
//     &.vb {
//       vertical-align: bottom;
//     }
//   }

//   .nodata_group {
//     display: flex;
//     min-height: 500px;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//   }
// }

