@import './common/palette';
@import './common/variables';

#root{
  height: 100%;
}

@import './global/_scrollbar';

// app에만 사용되는 글로벌 css
// @import './global/_appglobal';
// @import './global/_appglobal2';
// @import './global/_appglobal3';

// 글로벌 scss import
@import './global/_typography'; //타이포
@import './global/_align'; //정렬
@import './global/_color'; //배경 글자 등등 모든 색
@import './global/_spacing'; // margin, padding


// 글로벌 컨포넌트 import
@import './global/_select';


// 임시 블릿
.bullet_list{
  li{
    padding-left: 10px;
    position: relative;
    line-height: 2rem;
    & + li{
      margin-top: 10px;
    }
    &::after{
      @include before_after;
      width: 3px;
      height: 3px;
      border-radius: 1.5px;
      background-color: var(--cff);
      position: absolute;
      top: 10px;
      margin-top: -2px;
      left: 0;
    }
  }
  &.gray{
    li{
      @include body2(var(--c99));
      &::after{
        background-color: var(--c99);
      }
    }
  }
}

//임시 테이블 글로벌 스타일 
.tbl {
  table {
    width: 100%;

    thead {
      background-color: var(--bgf5);

      th {
        font-family: 'Pretendard';
        padding: 17px 10px;
        @include h5(var(--c33));
        text-align: center;

        &+th {
          border-left: 1px solid var(--bgf5);
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #f1f4f7;

        &:hover {
          background-color: #fafbfe;
        }
        &.noborder {
          border-bottom: none;
        }
      }

      td {
        font-family: 'Pretendard';
        padding: 20px 10px;
        // color: #354165;
        // font-size: 1.4rem;
        @include body2(var(--c33));
        text-align: center;
        // 진현주 - 테이블 형식 내용 추가
        vertical-align: top;
        &.noborder {
          border-bottom: none;
          padding-bottom: 0;
        }
        // 왼쪽 정렬
        &.left {
          text-align: left;
        }

        // 오른쪽 정렬
        &.right {
          text-align: right;
        }

        // 위로 정렬
        &.top {
          vertical-align: top;
          padding-top: 18px !important;
        }

        &.bottom {
          vertical-align: bottom;
        }

        &+td {
          // border-left: 1px solid var(--ce7);
          border-bottom: 1px solid #D9D9D9;
        }
        >button {
          width: 100%;
        }
        >a {
          text-decoration: underline;
        }
      }
    }
  }
}