.kds_main{
  &_top{
    display: flex;
    background-color: var(--cff);
    box-shadow: 0px 30px 49px 0px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 22px 75px;
    li{
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      & + li{
        margin-left: 30px;
      }
    }
  }
  &_list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_opt{
    display: inline-block;
    text-align: center;
    min-width: 36px;
    font-size: 14px;
    font-weight: 700;
    color: var(--cff);
    background: #5A6983;
    border-radius: 3px;
    padding: 4px 2px;
  }
  &_product{
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    color: var(--c00);
    line-height: 26px;
    span{
      display: block;
    }
  }
  &_num{
    color: var(--c00);
    font-size: 14px;
    font-weight: 700;
    em{
      font-size: 22px;
    }
  }
  &_order{
    max-height: 100%;
    &_box{
      display: flex;
      max-height: 100%;
      flex-direction: column;
      background: var(--cff);
      border-radius: 6px;
      overflow: hidden;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.10);
    }
    &_swiper{
      height: 100%;
      padding: 0 35px 70px !important;
    }
    &_top{
      width: 100%;
      text-align: left;
      padding: 15px;
      background: linear-gradient(338deg, #23B8B1 27.53%, #2DCE94 61.45%);
      &.warning{
        background: linear-gradient(92deg, #FBB140 1.1%, #FB6340 99.77%);
      }
      &.issue{
        background: linear-gradient(135deg, #F75B3A 0.07%, #A51919 100.02%);
      }
      &_pick{
        display: flex;
        align-items: center;
        .pick{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 33px;
          height: 33px;
          border-radius: 4px;
          background: rgba($color: #000000, $alpha: 0.4);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.50);
          color: var(--cff);
          font-size: 25px;
          font-weight: 700;
        }
        .num{
          color: var(--cff);
          font-size: 30px;
          font-weight: 700;
        }
        .clock{
          font-size: 17px;
          color: var(--cff);
          font-weight: 700;
        }
        .ordertime{
          font-size: 14px;
          color: var(--cff);
          font-weight: 400;
          opacity: 0.7;
        }
        & + .kds_main_order_top_pick{
          justify-content: space-between;
          .lft{
            display: flex;
            align-items: center;
          }
        }
      }
    }
    &_bottom{
      flex: 1;
      overflow-y: auto;
      max-height: calc(100% - 100px);
      margin: 10px 4px 10px 0;
      &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: var(--cff);
      }

      &::-webkit-scrollbar {
        width: 8px;
        border-radius: 4px;
        background-color: var(--cdd);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        width: 4px;
        border: 4px solid var(--cdd);
        background-color: var(--cdd);
      }
      ul{
        padding: 0 5px 0 10px;
        li{
          padding: 15px 5px;
          & + li{
            border-top: 1px solid #E7E7E7;
          }
        }
      }
      .kds_main_list{
        align-items: flex-start;
        .kds_main_product{
          font-size: 16px;
          line-height: 22px;
          span{
            font-size: 14px;
            font-weight: 400;
            padding-left: 10px;
            position: relative;
            line-height: normal;
            &::before{
              content: '';
              display: block;
              position: absolute;
              left: 0;
              top: 4px;
              width: 5px;
              height: 5px;
              border-left: 1px solid #bbb;
              border-bottom: 1px solid #bbb;
            }
          }
        }
      }
    }
  }
}

.kds_modal{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 10;
  }
  &_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 20;
    width: 66.66%;
    height: 100%;
    background-color: #3E4B57;
    > div {
      &:first-child{
        flex: 1;
      }
    }
  }
  &_btn{

  }
}